#overtime {
  max-width: 1000px;
}

/** Menu area **/
.topMenuWraper {
    width: 100%;
    background: #DDDDDD;
    background: -webkit-linear-gradient(#dddddd, #aaaaaa); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#dddddd, #aaaaaa); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#dddddd, #aaaaaa); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#dddddd, #aaaaaa); /* Standard syntax */
    border: 2px solid #aaaaaa;
    border-radius: 5px;
}

.topMenu {
  display: table;
  border-spacing: 5px;
  color: #333333;
}

.topMenu  > span {
  display: table-cell;
  vertical-align: middle;
}

.topMenu .clickable {
  cursor: pointer;
}

.topMenu .clickable:hover {
  background-color: #dddddd;
}

.addOvertime {
  background-repeat: no-repeat;
  background-image: url('./img/add.png');
  background-position: left;
  padding-left: 30px;
  padding-right: 5px;
}

.userSettings {
  background-repeat: no-repeat;
  background-image: url('./img/settings.png');
  background-position: left;
  padding-left: 60px;
  padding-right: 5px;
}

.topMenu .separator {
  width: 1px;
  background: -webkit-linear-gradient(#bbbbbb, #888888); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#bbbbbb, #888888); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#bbbbbb, #888888); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#bbbbbb, #888888); /* Standard syntax */
}

.dateFilter {
  width: 252px;
  border-spacing: 2px;
}

.dateFilter .container {
  display: table-cell;
  text-align: center;
  width: 100%;
}

.dateFilter .arrow {
  display: table-cell;
  border: 1px solid #999999;
  padding: 3px 8px;
}

.dateFilter .month {
  display: table-cell;
  border: 1px solid #999999;
  padding: 3px;
  margin: 0px 3px;
  width: 30px;
  text-align: center;
}

.dateFilter .selectedMonth{
  font-weight: bold;
  color:#000000;
}


/** Overtime table **/
table.overtime {
  margin-top: 5px;
  width: 100%;
  table-layout: fixed;
  border: 2px solid #aaaaaa;
  border-radius: 5px;
  border-spacing: 0px;
  color: #333333;
}

table.overtime tr.header {
  background: #DDDDDD;
  background: -webkit-linear-gradient(#dddddd, #aaaaaa); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#dddddd, #aaaaaa); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#dddddd, #aaaaaa); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#dddddd, #aaaaaa); /* Standard syntax */

}

table.overtime td {
  border-top: 1px solid #aaaaaa;
  height: 50px;
  padding-left: 8px;
  vertical-align: middle;
}

table.overtime tr.header > td {
  font-weight: bold;
  border-top: 0px;
}

.rowEdit, .rowDelete {
  width: 32px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
}

.rowEdit {
  background-image: url('./img/edit24.png');
  background-repeat: no-repeat;
  background-position: center;
}

.rowDelete {
  background-image: url('./img/delete24.png');
  background-repeat: no-repeat;
  background-position: center;
}

/** Edit popup **/
.ReactModal__Content {
    height: 300px;
    border-radius: 10px;
    border-color: #157efb;
}

.overtimeForm {
  width: 80%;
  color: #333333;
  border-spacing: 3px;
}

.overtimeForm tbody td:first-child {
  width: 35%;
  text-align: right;
}

.overtimeForm input {
  line-height: 26px;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 5px;
  padding: 0px 5px;
}

.overtimeForm .react-datepicker__close-icon {
  display: inline;
}

.overtimeForm textarea {
  width: 100%;
  padding: 5px;
}

.overtimeForm textarea {
  resize: none;
}

.overtimeDatePicker{
  width: 100%;
}

td.buttons {
  text-align: center;
}

.buttons button {
  padding: 3px 5px;
  border: 1px solid #aaaaaa;
  font-size: 14px;
  border-radius: 5px;
  margin: 5px;
}
