#root {
  max-width: 1000px;
}

/** Menu area **/
.topMenu {
  display: table;
  border-spacing: 5px;
}

.topMenu  > div {
  display: table-cell;
  color: #157efb;
  border: 1px solid #157efb;
  border-radius: 5px;
  vertical-align: bottom;
}

.topMenu .clickable {
  cursor: pointer;
}

.topMenu .clickable:hover {
  background-color: #dddddd;
  color: #157efb;
}

.addOvertime {
  background-repeat: no-repeat;
  background-image: url('./img/add.png');
  background-position: top;
}

.userSettings {
  background-repeat: no-repeat;
  background-image: url('./img/user_settings.png');
  background-position: top;
}

.dateFilter {
  width: 252px;
  border-spacing: 2px;
}

.dateFilter .month {
  display: table-cell;
  color: #157efb;;
  border: 1px solid #157efb;
  padding: 3px;
  margin: 0px 3px;
  width: 30px;
  text-align: center;
}

.dateFilter .selectedMonth{
  color: white;
  background-color: #157efb;
}

.dateFilter .year > div {
  display: table-cell;
}

.dateFilter .year .prevYear {
  padding: 0px 5px;
}

.dateFilter .year .currYear {
  text-align: center;
  width: 100%;
}

.dateFilter .year .nextYear {
  padding: 0px 5px;
}


/** Overtime table **/
table.overtime {
  width: 100%;
  table-layout: fixed;
  border: 2px solid #82CAFA;
  border-radius: 8px;
  border-spacing: 0px;
}

table.overtime tr.header {
  background-color: #82CAFA;
}

table.overtime td {
  border-top: 1px solid #82CAFA;
  height: 50px;
  padding-left: 8px;
  vertical-align: middle;
}

table.overtime tr.header > td {
  font-weight: bold;
  border-top: 0px;
}

.rowEdit, .rowDelete {
  width: 32px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
}

.rowEdit {
  background-image: url('./img/edit.png');
}

.rowDelete {
  background-image: url('./img/delete.png');
}

/** Edit popup **/
.ReactModal__Content {
    height: 300px;
    border-radius: 10px;
    border-color: #157efb;
}

.overtimeForm {
  width: 100%;
}

.overtimeForm td:first-child {
  width: 30%;
  text-align: right;
}

.overtimeForm input {
  line-height: 26px;
  width:80%;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 5px;
}

.overtimeForm textarea {
  width: 100%;
}

.overtimeForm textarea {
  resize: none;
}

.overtimeDatePicker{
  width: 100%;
}
